/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 1.5em Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em; 
}

p { margin: 1em 0;
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts li a:link {
  color: #822;
}

ul.posts li a:visited {
  color: #666;
}

ul.posts li a:hover {
  color: #8085C1;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font: 1.3em Helvetica, Arial, sans-serif;
  text-align: justify;
  width: 630px;
  margin: 3em auto 2em;
  margin-top: 0.5em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  font-size: 1.8em;
  color: #8085C1;
}

.site .header h1.title a:hover {
  color: #aaa;
}

.site .header a.extra {
  font-size: 1.3em;
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #8085C1;
}

.site .meta {
  font-size: 0.7em;
  color: #999;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #ddd;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*
 *  Tags css
 */
.tags {
   font: 0.7em sans-serif;
 }

 .tags a {
   color: #8085C1;
 }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post p {
  font: 1em Helvetica, Arial, sans-serif;
  text-align: justify;
  color: #303030;
  clear: left;
}

.site h2 {
  font: 1.4em Helvetica, Arial, sans-serif;
  color: #3d3d3d;
}

/**
 *	Tweets
 */
#tweets p, a {
  font-size:0.9em;
  margin:10px 0 0 0;
  padding-right: 5px;
  color:#3d3d3d;
}

#tweets a, a:visited {
  color:#427fed;
}

#tweets a:hover {
  color:#82afff;
}

#tweets ul li {
  list-style:none;
  overflow:hidden;
  border:1px solid #dedede;
  margin:5px;
  padding:5px;
}

#tweets ul li:hover {
  background-color:#f0f3fb;
}

.user, .tweet, .timePosted {
  float:left;
}

.user {
  width:10%;
}

.tweet {
  width:85%;
}

.timePosted {
clear: left;
padding-left: 10%
}

.user {
clear:left;
}

.user a {
width: 100px;
}

.user span span {
width:100px;
display:block;
margin-top:10px;
}

.user img, .user a > span {
float:left;
}

.user a > span {
margin-left:10px;
display: none;
}
