/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
body {
  background-color: #FFF;
  font: 1em 'Open Sans', sans-serif;
  font-size: small;
  text-align: center;
  text-rendering: optimizeLegibility;
}

a {
  color: #5AF;
  text-decoration: none;
}

a:hover {
  color: #222;
}

/*****************************************************************************/
/*
/* Archive
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
}

.posts li a:link {
  color: #303030;
}

.posts li a:visited {
  color: #303030;
}

.posts li a:hover {
  color: #5AF;
}

.posts span {
  color: #777;
  font: 0.8em 'Inconsolata', monospace;
}

/**
 * Site
 */
#container {
  color: #444;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.header h1 a {
  font: bold 1.5em 'Open Sans', serif;
  text-decoration: none;
  color: #404040;
  margin-bottom: 2em;
}

.site {
  float: right;
  font: 1.4em 'Open Sans', sans-serif;
  text-align: justify;
  width: 80%;
}

.site .footer {
  border-top: 4px solid #ddd;
  color: #666;
  font-size: 0.8em;
  margin: 2em 0;
  overflow: hidden;
}

/*
 * Navbar CSS
 */
#navbar {
  float: left;
  width: 17%;
}

#navbar ul {
  font: 1.3em 'Open Sans', sans-serif;
  list-style-type: none;
  text-align: left;
}

#navbar h4 {
  font: 1.2em 'Open Sans', sans-serif;
  margin: 0.2em 0;
  padding-top: 1em;
}

#navbar li a {
  display: inline-block;
  text-decoration: none;
}

/* Don't show nav bar if device is not wide enough */
@media (max-width: 1000px)
{
  #navbar {
    display: none;
    float:none;
  }

  .site {
    float: none;
    margin: auto;
    width: auto;
  }
}

/*
 * Posts
 */
.post-title {
  font: bold 1.8em 'Open Sans', sans-serif;
  text-indent: -3px;
  margin-bottom: .3em;
}

.post-title a {
  color: #333; 
}

.post-title a:hover {
  color: #5AF; 
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.post p {
  color: #303030;
  font: 1em 'Open Sans', serif;
  line-height: 1.5em;
}

.post .meta {
  font: 0.8em 'Inconsolata', monospace;
  margin: 0;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post img {
  max-width: 100%;
}

/* Code snippets */
.post pre {
  background-color: #1c1c1c;
  padding: 0 .4em;
}

.post pre code {
  border: none;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o- pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.post code {
  border: 1px solid #ddd;
  padding: 0 .2em;
}
/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*
 *  Tags css
 */
.post .tags {
  font: 0.7em 'Inconsolata', monospace;
}

.post .tags a {
  color: #707070;
}

.post .tags a:visited {
  color: #707070;
}

.pagination {
  text-align: center;
}

.post-nav .prev{
  display: block;
  float: left;
  width: 50%;
}

.post-nav .next{
  display: block;
  text-align: right;
  float: right;
  width: 50%;
}
