* {
	font-family: 'Roboto Condensed', sans-serif;
	-webkit-text-stroke: 0.2px
}

ul {
    list-style-type: square;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.05em;
}

a:link, a:visited {
    color: #765076;
}

#content {
	width: 80%;
	max-width: 1000px;
	text-align: justify;
	margin-left:auto;
	margin-right:auto;
}

#header {
	text-align: center;
    border-bottom: 1px solid black;
}

#header #name {
	margin-bottom: 0;
	margin-top: 0;
	font: 2em 'Roboto Condensed',sans-serif;
}

#header .title {
	margin-top: 0;
	margin-bottom: 0em;
	font: 0.9em 'Roboto Condensed', sans-serif;
}

#header .title a:link, #header .title a:visited {
    color: black;
    text-decoration: none;
}

#header .title a:hover {
    background-color: #Dcccd9;
}

h2 {
	margin-bottom: 0em;
	margin-top: 0;
	background-color: #Dcccd9;
	padding-left: 0.7em;
}

h3 {
	margin-bottom: 0em;
	margin-top: 0em;
}

.company {
	margin-bottom: 0.1em;
	margin-top: 0em;
	float: left;
}

.date {
	margin-bottom: 0.1em;
	margin-top: 0em;
	float: right;
}

.workList {
	list-style-type: none;
}

.workList .jobDescription {
	list-style-type: square;
}