<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">
{% if page.description %}
  <meta name="description" content="{{ page.description }}">
{% endif %}
{% feed_meta %}

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/monokai-syntax.css">

<!-- Fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans">

<header>
  <div class="header">
    <h1><a id="blog-banner" href="/">::James->Blog()</a></h1>
  </div>
</header>

<div id="container">
  <nav id="navbar">
      <ul>
        <li><h4>Links</h4></li>
        <li><a href="/">Home</a>
        <li><a href="/archive">Archive</a>
        <li><a href="/tags">Tags</a>
        <li><a href="/resume/resume.html">Resume</a>
        <li><a href="/about">About me</a>
        <hr>
          <li><a href="//www.github.com/jchuong"><img src="/assets/icons/Github.png"> jchuong</a>
        <li><a href="/feed.xml"><img src="/assets/icons/RSS.png"> Subscribe</a>
      </ul>
  </nav> <!-- navbar -->
  <div class="site">
    {{ content }}
    <div class="footer">
    </div> <!-- footer -->

  </div> <!-- site -->
</div>
