---
layout: default
---
<div class="post">
<h1 class="post-title">{{ page.title }}</h1>
<p class="meta">Written on: {{ page.date | date_to_string }}</p>
<p class="tags">Tags: 
	{% for tag in page.tags %}
    <span><a href="/tags/#{{ tag }}">{{ tag }}</a></span>
	{% endfor %} </p>
{{ content }}
</div>
<div class="post-nav">
  {% if page.previous %}
    <a href="{{page.previous.url}}" class="prev">&#8592 {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next %}
    <a href="{{page.next.url}}" class="next">{{ page.next.title }} &#8594</a>
  {% endif %}
</div>
{% if page.comments %}
  {% include disqus.html %}
{% endif %}
